* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #201d1d;
  color: #333;
}
body{
  margin : 0
  }
.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(163, 148, 148, 0.1);
}

.header .logo {
  font-size: 24px;
  font-weight: bold;
  color: #0c96db;
}

.nav a {
  margin-left: 20px;
  text-decoration: none;
  color: #307acf;
  font-size: 18px;
}

.nav a:hover {
  color: #76cce8;
}

.main-content {
  text-align: center;
  padding: 50px;
}

.intro h1 {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 20px;
  color:#47bbe1;
}

.intro p {
  font-size: 18px;
  margin-bottom: 30px;
  color: #9ee1ed;
}

.buttons {
  display: flex;
  justify-content: center;
}

.btn-try,
.btn-learn {
  padding: 12px 30px;
  margin: 5px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.btn-try {
  background-color: #47bbe1;
  color: rgb(8, 14, 132);
}

.btn-try:hover {
  background-color: #f1e7e7;
}

.btn-learn {
  background-color: #f1f1f1;
  color: #000;
}

.btn-learn:hover {
  background-color: #ddd;
}
.message-content-white-background{
  display: block; /* Centers the image inside the container */
  max-width: 50%; /* Prevents the image from overflowing */
  height: auto; /* Maintains the aspect ratio */
  margin: 10px auto; /* Centers the image vertically and horizontally */
  border-radius: 8px; /* Adds rounded corners for aesthetics */
  background-color: #a2e3db;
}

.message-content-white-background .animated-message-text {
  animation: fadeInUp 0.6s ease-in-out;
  /* font-size: 1.5rem;  */
  /* line-height: 1.8;  */
  color: #0d3db8; /* Updated to bright orange */
  background-color: #a2e3db;
  margin-bottom: 15px;
  font-family: 'Poppins', sans-serif;
}

/* Animation for the text */
.animated-message {
  animation: fadeInUp 0.6s ease-in-out;
  font-size: 1.2rem;
  line-height: 1.6;
  color: #333;
  margin-bottom: 15px;
  font-family: 'Poppins', sans-serif;
}
/* Keyframes for fade-in-up animation */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
