.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(163, 148, 148, 0.1);
  }
  
  .logo {
    font-size: 24px;
    font-weight: bold;
    color: #0c96db;
  }
  
  .nav-links {
    display: flex;
  }
  
  .nav-link {
    margin-left: 20px;
    text-decoration: none;
    color: #307acf;
    font-size: 18px;
  }
  
  .nav-link:hover {
    color: #76cce8;
  }
  